<div class="homepage-wrapper">
    <div class="homepage-content">
        <div class="homepage-content-list">
            <h1>haiiii!! it's dogtape!!!!</h1>
            <p>welcome to my super cool home page!!!</p>
        </div>

        <div class="homepage-image-container">
            <img src="../assets/images/homepage/dog1.gif" alt="a dog wagging its tail and barking">
            <img src="../assets/images/homepage/butterflysnowglobe.gif" alt="snowglobe with butterflies in it">
            <img src="../assets/images/homepage/dog3.gif" alt="a dog with its tounge in and out of its mouth">
        </div>

        <h2>quick facts</h2>
        <ul class="homepage-content-list">
            <li>
                refer to me by anything!!! in fact, please give me nicknames.
            </li>
            <li>
                age ~20 ish. a puter engineering student from thighland. i speak thai 🇹🇭 natively, and english 🇬🇧 semi-decently.
            </li>
            <li>
                sexuality is an assign male at birth, aro/ace, and possibly enby but im questioning... do please use any pronouns that you see fit. if you cant decide just use they/them.
            </li>
            <li>
                self proclaimed good person. blah blah blah.
            </li>
        </ul>

        <div class="homepage-image-container">
            <img src="../assets/images/homepage/dogcatsnuggle1.gif" alt="a dog and a cat snuggling">
            <img src="../assets/images/homepage/dogdriving.gif" alt="a dog in the driver seat driving a car">
            <img src="../assets/images/homepage/dogcatsnuggle2.gif" alt="a dog and a cat snuggling">
        </div>

        <div class="homepage-image-container">
            <img src="../assets/images/homepage/dogrun1.gif" alt="a dog running and back from the left to the right sided of the screem">
        </div>

        <h2>things i enjoy</h2>
        <ul class="homepage-content-list">
            <li>
                anime and mangas! in no particular order:
                <ul>
                    <li>frieren</li>
                    <li>dungeon meshi</li>
                    <li>nichijou & city by arawi keiichi</li>
                    <li>azumanga daioh & yotsuba to</li>
                    <li>violet evergarden</li>
                    <li>witch hat atelier</li>
                    <li>danshi kokousei no nichijou (nichibros)</li>
                    <li>saiki kusuo no sainan</li>
                    <li>fate stay night</li>
                    <li>gintama</li>
                    <li>spirited away & kiki's delivery service</li>
                </ul>
            </li>
            <li>
                my weird jpop yorushika music! im way waaaay to obsessed.
            </li>
            <li>
                programming, leenooks (i use arch btw), free as in free beer copyleft software.
            </li>
            <li>
                being silly :3c
            </li>
        </ul>

        <div class="homepage-image-container">
            <img src="../assets/images/homepage/dogmail1.gif" alt="a dog wagging its tail and blinking while holding an email envelope in its mouth">
            <img src="../assets/images/homepage/earth.gif" alt="a spinning globe">
            <img src="../assets/images/homepage/dogmail2.gif" alt="a dog wagging its tail and dropping a saliva wet mail from its mouth">
        </div>

        <div class="homepage-image-container">
            <img src="../assets/images/homepage/dogrun2.gif" alt="a dog running and back from the left to the right sided of the screen">
        </div>

        <div class="homepage-content-list">
            <h3>subscribe to the mailing list!!!</h3>
            <p>i promise i wont spam you.</p>
        </div>

        <div class="homepage-cta">
            <div class="gh-cta-inner gh-inner">
                <div class="gh-cta-content">
                    <h2 class="gh-cta-title is-title">
                        {{#if @custom.signup_heading}}{{@custom.signup_heading}}{{else}}{{@site.title}}{{/if}}
                    </h2>
                    <p class="gh-cta-description is-body">
                        {{#if @custom.signup_subheading}}{{@custom.signup_subheading}}{{else}}{{@site.description}}{{/if}}
                    </p>
                </div>
                {{> "email-subscription" email_field_id="cta-email"}}
            </div>
        </div>

        <div class="homepage-content-list">
            <h3>WARNING!!! under construction!!</h3>
        </div>

        <div class="homepage-image-container">
            <img src="../assets/images/homepage/construction.gif" alt="yellow warning tape with the text under construction">
        </div>

        <div class="homepage-image-container">
            <img src="../assets/images/homepage/dogkindness.gif" alt="2 dogs in a circular blue backgroun with the text 'kindness in action'">
            <img src="../assets/images/homepage/dog2.gif" alt="a dog walking animation facing left">
            <img src="../assets/images/homepage/dogwink.gif" alt="a dog winking and sticking its tounge out">
        </div>

        <div class="homepage-image-container">
            <img src="../assets/images/homepage/construction.gif" alt="yellow warning tape with the text under construction">
        </div>
    </div>
</div>